@media screen and (max-width:760px) {
    nav li{
        gap: 0px;
    }
    #main-nav a{
        padding: 0px;
        justify-content: center;
        width: 100%;
        
    }
    
    #main-nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
        gap: 1px;
        background-color: #3278a7 ;
        text-align: center;
        margin-right:0px;
    
    }
    #main-nav li{
        margin-left: 5%;
        gap: 1em;
        padding: 3em;}
    main{
        order: 1;
        width: 100%;
    }
    aside{
        order: 2;
        width: 100%
    }
    body{
        width: 100%;
    }
    #main-content{
        display: block;
    }
    #main-header h1{
        font-size: 2.4em;
    }
    #main-header h2{
        font-size: 1.6em;
    }
    p{
        font-size: 1em;
    }
    #main-nav ul{
        gap: 3em;
    }
    #figure-one img{
        width: 170px;
    }
    #figure-two img{
        width: 200px;
    }
    #figure-two img{
        width: 200px;
        margin: 0;
    }
}